.cart {
    background: rgba(255, 153, 0, 0.3);
    padding: 10px;
    margin-top: -50px;
    position: sticky;
    top: 0;
}

.trash-icon {
    width: 30px;
    height: 30px;
    color: rgb(165, 42, 42);
}

.cart button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(165, 42, 42, 0.523);
    color: white;
}